<div class="user-details">
  <h1>My Expertise</h1>
  <p> {{site.user_description}} </p>
  <p><a href="/assets/james-baghurst-cv-private.pdf" target="_blank">Click here for my CV</a></p>
</div>
  <div class="user">
    <div class="tech">
      <h2>AI</h2>
      <div style="display: flex; justify-content: center; align-items: center; gap: 30px; margin-top: 43px; margin-bottom: 43px;">
        <img alt="Open AI Icon" src="/assets/img/openai-icon.png" height="75px" width="75px" />
        <div style="display: inline-flex; justify-content: center; align-items: center; font-weight: bold; font-size: small; color: black; height: 75px; width: 75px;">ModelFusion</div>
      </div>
      <p>My previous projects cover a wide range of AI tasks from building custom chatbots to Copilot-inspired user interfaces, to LLM grocery shopping agents!</p>
    </div>
    <div class="tech">
      <h2>Frontend</h2>
      <i class="devicon-typescript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <p>I am a professional TypeScript and React developer with years of experience designing and implementing AI-enabled user interfaces</p>
    </div>
    <div class="tech">
      <h2>Backend</h2>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <i class="devicon-linux-plain"></i>
      <p>I am capable of managing full-stack AI systems including running fine tuning jobs, managing servers and setting up LLM observability tools</p>
    </div>
</div>
