<div class="user-details">
  <h1>My Expertise</h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>AI</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <p>My previous projects cover a wide range of AI tasks from building custom chatbots to Copilot-inspired user interfaces, to AI agents for grocery shopping</p>
    </div>
    <div class="tech">
      <h2>Frontend</h2>
      <i class="devicon-typescript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <p>I am a professional <strong>TypeScript</strong> and <strong>React</strong> developer with years of experience designing and implementing advanced AI-enabled user interfaces</p>
    </div>
    <div class="tech">
      <h2>Backend</h2>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <i class="devicon-linux-plain"></i>
      <p>I am familiar with building full-stack AI systems including running <strong>fine tuning</strong> jobs, managing servers and setting up <strong>LLM observability</strong> tools</p>
    </div>
</div>
