<div class="user-details">
  <h1>Latest Articles and Videos</h1>
  <p>Take a look at <a href="https://dev.to/experilearning" target="_blank">my Dev.to account</a> and <a href="https://www.youtube.com/channel/UCIaS9XDdQkvIjASBfgim1Uw">my YouTube channel</a> for more.</p>
    <div style="text-align: center;">

            <ul style="display: inline-block;">
                <li style="text-align: left;">▶️ <a href="https://www.youtube.com/watch?v=KbBwhuVpqC0">Using GPT to Build an Open Source Recommendation System for YouTube Videos</a></li>
                <li style="text-align: left;">📄 <a href="https://dev.to/experilearning/managing-long-running-llm-data-processing-pipelines-48f9">Managing Long-Running LLM Data Processing Pipelines</a></li>
                <li style="text-align: left;">📄 <a href="https://dev.to/experilearning/building-an-llm-powered-open-source-recommendation-system-40fg">Building an LLM-Powered Open Source Recommendation System for YouTube</a></li>
            </ul>
    </div>
</div>