<div class="header-simple">
    <div style="display: flex; justify-content: space-between;">

    <a style="cursor: pointer;" href="/"><span>{{site.username}}</span></a>
    <nav>
        <a aria-label="Send email" href="mailto:{{site.email}}"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Twitter" target="_blank" href="https://twitter.com/{{site.twitter_username}}"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/{{site.github_username}}"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="My CV" target="_blank" href="/assets/james-baghurst-cv-private.pdf"><i class="icon fa fa-file-text" aria-hidden="true"></i></a>
    </nav>
    </div>
</div>