<div class="user-details">
  <h1>AI Engineering Projects</h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <video controls src="https://media.cleanshot.cloud/media/74694/HdyGX3KIRmxxPElkyK4eGXtVUE2JYIZnopouV9BJ.mp4?Expires=1699124632&Signature=jCCaSX05609rr~5vWXwhIGuh2sLhjDwk2t72gxALYJDP2V9mnsBJ9WQxfkbP3MZ4QU4njG42A~FM72viSQGIvlLHh4ywue8u5tTZtiXtQhW5PrRej7uAv2bHsOWgj0fh3puUDKPdXsLzV8oHr-Z2WVZznaTPUxPX8qqjoWoI-bDk88q4A~74hEPS4KxErCnTsM7FLbLMIL9o0s0SiP0nX78cJSMqvO~~p6lSzHoY9Hex6MzH9RGubOXVaVNL3ehw3Vf-H8g9lB7bx71njmfgA36922HPWnlkg8ZYGHYIF1tRIyYu7-r5Vkw-59IQbl~w8kwHBJbO5gi8x0KxpfYYBw__&Key-Pair-Id=K269JMAT9ZF4GZ">
        Your browser does not support the video tag.
    </video>
  </div>
  <div class="contents">
    <h3>RemNote Flashcard Copilot</h3>
    <p>The RemNote flashcard copilot augments students' flashcard writing process with inline suggestions and Grammarly-style flashcard correctness checking.</p>
    <a class="project-link" href="/remnote-flashcard-copilot.html">Learn More</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <video controls src="https://media.cleanshot.cloud/media/74694/fBMAihBhaF98h9ZKwh2aPQpiO59qS0FHE9MK00iU.mp4?Expires=1699126509&Signature=UgyVlA7s4nCyPc8anH648tIR1wEG9ZmglWdtm37cR~d5yDXT62StX527s0dXa2h5fnw44fatAhnriQFhnwkeQ4biYMxQbN8ob-w0kfRTef4Sexa342qlfdEP4vXGnjXgOgdusjwMuVAroV6hA1BIU~I6~dnCqMexkP95e~5PsSfZIdZh2r5c9dU3ZDIpN5vLyFaPoWBxaGBHyzvFDo4QEThiyf0EyGfbujYN75dmGVeSeErO93qKRjtgNLk3WUXQqU7Eid-e84g7JVgd9EA~gFUy8uiNkEbcDoj2NpgGHoKiF4MtD3qkj2UL0-f73MSGxrUU55cbD9moC-31HAvEDA__&Key-Pair-Id=K269JMAT9ZF4GZ">
        Your browser does not support the video tag.
    </video>
  </div>
  <div class="contents-right">
    <h3>Open Fresh</h3>
    <p>Open Fresh is an open source AI meal service system which curates personalized meal plans and automates users' grocery shopping. It's inspired by the meal service company Hello Fresh.</p>
    <div style="display: flex; align-items: center; gap: 20px">
      <a class="project-link" href="/open-fresh.html">Learn More</a>
      <a class="project-link" href="https://github.com/bjsi/open-fresh#readme"><i style="margin-right: 5px;" class="icon fa fa-github-alt" aria-hidden="true"></i>GitHub</a>
    </div>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="meme" src="{{ "/assets/img/ts-type-fixer-meme.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Type Fixing Agent</h3>
    <p>An open source AI agent which automates fixing type errors in large 100,000+ line TypeScript code bases. </p>
    <div style="display: flex; align-items: center; gap: 20px">
      <a class="project-link" target="_blank" href="/type-fixing-agent.html">Learn More</a>
      <a class="project-link" target="_blank" href="https://github.com/bjsi/ts-type-fixer#readme"><i style="margin-right: 5px;" class="icon fa fa-github-alt" aria-hidden="true"></i>GitHub</a>
    </div>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/chat-with-channel.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Chat with Channel</h3>
    <p>An open source project which makes it easy for non-technical people to create a custom chatbot for any YouTube channel by creating vector embeddings for all of the transcripts from the channel's videos</p>
    <div style="display: flex; align-items: center; gap: 20px">
      <a class="project-link" target="_blank" href="/chat-with-channel.html">Learn More</a>
      <a class="project-link" target="_blank" href="https://github.com/bjsi/chat-with-channel#readme"><i style="margin-right: 5px;" class="icon fa fa-github-alt" aria-hidden="true"></i>GitHub</a>
    </div>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <video controls src="https://media.cleanshot.cloud/media/74694/UP4FGGZrKTAFHhSmqfxgLRdceHO5NGJgBrTlBCRm.mp4?Expires=1699122986&Signature=SZ~didUKWG3pte9mFJEfQU0yDSQohU1d0PCg3SL0DNReb~uv-weM3D2FQ~VwaddhKQNkk6R2KwKFfhI02gk~MbarOhFdlAUGGsQBSE4CxWTewXNgx-1NR6D1anzrIBCAH0-sQggYjURJiOscoKMJvcpdpke2CO1xeFMvN7qh5uMfKsPRr0nexGGkwI-C9AuTOKnlJk6yARBNVzO6QMW1mxSIzs94HLlQEftjrbqau13HJ3tIJR95bCRI8hPHsY8vMkChYRxxa2peFOxz~ysVeQdx4P5QEwZv5E3FM~AL-X27kPQ5WtaCtJ27PTscwulhJCB2xD25F4IBH6-N23x73A__&Key-Pair-Id=K269JMAT9ZF4GZ">
        Your browser does not support the video tag.
    </video>
  </div>
  <div class="contents">
    <h3>AI Popper</h3>
    <p>An open source, AI chatbot to help me understand the works of Karl Popper and David Deutsch.</p>
    <div style="display: flex; align-items: center; gap: 20px">
      <a class="project-link" target="_blank" href="/ai-popper.html">Learn More</a>
      <a class="project-link" target="_blank" href="https://github.com/bjsi/ai-popper#readme"><i style="margin-right: 5px;" class="icon fa fa-github-alt" aria-hidden="true"></i>GitHub</a>
    </div>
  </div>
</div>