<div class="user-details">
  <h1>AI Engineering Projects</h1>
  <p>Take a look at <a href="https://github.com/bjsi" target="_blank">my GitHub account</a> for a full list of my public projects.</p>
</div>
<div class="user-projects">
  <div class="images-left">
    <video controls preload="none" onclick="this.paused ? this.play() : this.pause(); arguments[0].preventDefault();"   
      src="/assets/vid/remnote-flashcard-copilot.mp4" poster="/assets/vid/remnote-flashcard-copilot-poster.png">
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="contents-right">
    <h3>RemNote Flashcard Copilot</h3>
    <p>The RemNote flashcard copilot augments students' flashcard writing process with inline suggestions and
      Grammarly-style flashcard correctness checking.</p>
    <a class="project-link" target="_blank" href="/remnote-flashcard-copilot.html">Read More</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="open-recommender logo" src="{{ " /assets/img/open-recommender.webp" | prepend: site.baseurl }}" style="max-width: 300px;" />
  </div>
  <div class="contents">
    <h3>Open Recommender</h3>
    <p>An open source LLM-powered recommendation system which takes your Twitter feed and recommends you YouTube videos</p>
    <div style="display: flex; align-items: center; gap: 20px">
      <a class="project-link" target="_blank" href="https://dev.to/experilearning/building-an-llm-powered-open-source-recommendation-system-40fg">Read More</a>
      <a class="project-link" target="_blank" href="https://github.com/bjsi/open-recommender#readme"><i
          style="margin-right: 5px;" class="icon fa fa-github-alt" aria-hidden="true"></i>GitHub</a>
    </div>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <video controls preload="none" onclick="this.paused ? this.play() : this.pause(); arguments[0].preventDefault();"   
      src="/assets/vid/open-fresh.mp4" poster="/assets/vid/open-fresh-poster.png">
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="contents-right">
    <h3>Open Fresh</h3>
    <p>Open Fresh is an open source AI meal service system which curates personalized meal plans and automates users'
      grocery shopping. It's inspired by the meal service company Hello Fresh.</p>
    <div style="display: flex; align-items: center; gap: 20px">
      <a class="project-link" target="_blank" href="/open-fresh.html">Read More</a>
      <a class="project-link" target="_blank" href="https://github.com/bjsi/open-fresh#readme"><i style="margin-right: 5px;"
          class="icon fa fa-github-alt" aria-hidden="true"></i>GitHub</a>
    </div>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="meme" src="{{ " /assets/img/ts-type-fixer-meme.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Type Fixing Agent</h3>
    <p>An open source AI agent which automates fixing type errors in large 100,000+ line TypeScript code bases. </p>
    <div style="display: flex; align-items: center; gap: 20px">
      <a class="project-link" target="_blank" href="/type-fixing-agent.html">Read More</a>
      <a class="project-link" target="_blank" href="https://github.com/bjsi/ts-type-fixer#readme"><i
          style="margin-right: 5px;" class="icon fa fa-github-alt" aria-hidden="true"></i>GitHub</a>
    </div>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ " /assets/img/chat-with-channel.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Chat with Channel</h3>
    <p>An open source project which makes it easy for non-technical people to create a custom chatbot for any YouTube
      channel by creating vector embeddings for all of the transcripts from the channel's videos</p>
    <div style="display: flex; align-items: center; gap: 20px">
      <a class="project-link" target="_blank" href="/chat-with-channel.html">Read More</a>
      <a class="project-link" target="_blank" href="https://github.com/bjsi/chat-with-channel#readme"><i
          style="margin-right: 5px;" class="icon fa fa-github-alt" aria-hidden="true"></i>GitHub</a>
    </div>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <video controls preload="none" onclick="this.paused ? this.play() : this.pause(); arguments[0].preventDefault();"   
      src="/assets/vid/ai-popper.mp4" poster="/assets/vid/ai-popper-poster.png">
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="contents">
    <h3>AI Popper</h3>
    <p>An open source, AI chatbot to help me understand the works of Karl Popper and David Deutsch.</p>
    <div style="display: flex; align-items: center; gap: 20px">
      <a class="project-link" target="_blank" href="/ai-popper.html">Read More</a>
      <a class="project-link" target="_blank" href="https://github.com/bjsi/ai-popper#readme"><i
          style="margin-right: 5px;" class="icon fa fa-github-alt" aria-hidden="true"></i>GitHub</a>
    </div>
  </div>
</div>