<div class="user-details">
  <h1>AI Engineering Projects</h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>RemNote Flashcard Copilot</h3>
    <p>The RemNote flashcard copilot augments students' flashcard writing process with inline suggestions and Grammarly-style flashcard correctness checking.</p>
    <a class="project-link" href="#">Learn More</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Open Fresh</h3>
    <p>Open Fresh is an open source AI meal service system which curates personalized meal plans and automates users' grocery shopping. It's inspired by the meal service company Hello Fresh.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Type Fixing Agent</h3>
    <p>An open source AI agent which automates fixing type errors in large 100,000+ line TypeScript code bases. </p>
    <a class="project-link" href="#">Learn More</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Chat with Channel</h3>
    <p>An open source project which makes it easy for non-technical people to create a custom chatbot for any YouTube channel by creating vector embeddings for all of the transcripts from the channel's videos</p>
    <a class="project-link" href="#">Learn More</a>
  </div>
</div>