<div>
  <h1>Services</h1>
  <p>From ideation to deployment, I provide full-stack AI development services and consulting to clients who are looking to build custom chatbots, AI agents, fine tune a model and more.<p>
  <p>Interested? Send me an email or a Twitter DM describing what you need.<p>
  <a aria-label="Send email" href="mailto:{{site.email}}"><i class="icon fa fa-envelope"></i></a>
  <a aria-label="My Twitter" target="_blank" href="https://twitter.com/{{site.twitter_username}}"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
</div>